---
layout: page
title: "About me"
description: "Hey, this is zrf."
header-img: "img/post-bg-os-metro.jpg"
---

<!-- Language Selector -->

<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">

    <!--copied from markdown -->
    <blockquote><p>The road ahead is long and has no ending; yet high and low I will search with my will unbending.<br>
    路漫漫其修远兮，吾将上下而求索</p></blockquote>
    
    <p><strong><span style="font-size: 14pt;"><span style="color: #ff0000;">#</span> 关于我</span></strong></p>

    <p>Hey，大噶好！我系<strong>张壬丰(ZRF)</strong>，一个喜欢星空（二次元，某girl）的计算机系大一学生。</p>

    <p><strong>学习之余</strong>，我还是一个游戏(王者荣耀，LOL)，篮球（被虐），古诗词（狗屁不通地写情诗）爱好者，最喜欢的词人是纳兰容若。</p>

    <p>我喜欢在打代码的时候听歌or唱歌？？轻音乐，古风是我的最爱！！！！</p>
    
     <p>本人家庭坐标——广东汕头</p>  <p>学校坐标——广东广州大学城</p>
    
    <p><strong>本人舍友：</strong></p>
                <p>骑自行车摔倒的男人——czw</p>
                <p>拥有健康黑肤质的男人——xxc</p>
                <p>最早睡的男人——hzb</p>
                <p>洗澡rap的男人——hpy<p> 
                <p>最晚睡的男人——wwj</p>
    
   <p><strong><span style="font-size: 14pt;"><span style="color: #ff0000;">#</span> 关于本站</span></strong></p>
        
    <p>一个不学无术的小菜鸡程序猿靠着各位大佬的教程搭建的小破站，请各位大佬轻点喷。</p>
    
    <p><strong><span style="font-size: 14pt;"><span style="color: #ff0000;">#</span> 我会什么？？</span></strong></p>
    
    <p>本人极其擅长吹拉弹唱：</p>

    <p>吹：本人目前较为生疏地掌握了c，c++，Linux，python，ue4，unity，html，css，js等单词的拼写。</p>
    
    <p>拉：本人已通过网络基础实验课的熏陶，学会了如何拉网线等操作，日后有拉网线服务请联系我，我打个99折。</p>
    
    <p>弹：本人在疫情期间苦练神功，终于练就了一个正在更新迭代的弹性小肚腩。</p>
    
    <p>唱：本人啥都会唱，就是不会唱歌^_^</p>
    
   
    
    <hr>
<p><strong><span style="font-size: 14pt;"><span style="color: #ff0000;">#</span> 划水咸鱼没有梦想</span></strong></p>
<div class="xControl">
<div class="xHeading">
<div class="xIcon"><i class="fa fa-plus"></i></div>
<h5>已达成</h5>
</div>
<div class="xContent">
<div class="inner">
<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;<del datetime="2020-04-30T13:14:20+00:00">一个自己的博客</del><br />
<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;<del datetime="2020-04-30T13:14:20+00:00">自己的域名</del><br />
<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;<del datetime="2020-04-30T13:14:20+00:00">购买服务器，网站备案</del><br />
<i class="fa fa-check-square-o"></i>&nbsp;&nbsp;<del datetime="2020-04-30T13:14:20+00:00">搭建私有图床</del><br />
 <i class="fa fa-check-square-o"></i>&nbsp;&nbsp;<del datetime="2020-04-30T13:14:20+00:00">搭建私有云</del><br />
</div>
</div>
</div>
<div class="xControl">
<div class="xHeading">
<div class="xIcon"><i class="fa fa-plus"></i></div>
<h5>未达成</h5>
</div>
<div class="xContent">
<div class="inner">
<i class="fa fa-square-o"></i>&nbsp;&nbsp;拿到英语四级证书<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;搭建一个博客小程序<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;大二不当班长<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;完成一个正在进程的文学项目<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;拥有一份爱情<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;重新拿起吉他<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;能写出自己认为可以的字<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;学会唱歌<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;拥有一个属于自己的房子<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;克服拖延症<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;养成阅读习惯<br />
<i class="fa fa-square-o"></i>&nbsp;&nbsp;完成一个正在进程的文学项目
</div>
</div>
</div>
<hr>
    
    
    
    <h5>Talks</h5>

    <ul>
        <li><a href="https://github.com">GitHub</a></li>
        <li><a href="http://jekyll.com.cn/">jekyll</a></li>
        <li><a href="http://huangxuan.me/">Hux</a></li> 
        <li><a href="https://analytics.google.com/analytics">Google Analytics</a></li>
    </ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>The road ahead is long and has no ending; yet high and low I will search with my will unbending. <br>
    better late than never.</p></blockquote>

    <p>Hi, I am <strong>student</strong>，you can call me <strong>ZRF</strong>. A programmer who likes the stars .</p>

    <p>This is my personal blog, through making Github Pages and Jekyll.My GitHub  👉 <a href="http://github.com/dateolive">Github·zrf</a>.</p>
    
    <p>I want to have a love.</p>

    <h5>Talks</h5>

    <ul>
    <li><a href="https://github.com">GitHub</a></li>
    <li><a href="http://jekyll.com.cn/">jekyll</a></li>
    <li><a href="https://pages.github.com/">GitHub Pages</a></li>
    <li><a href="https://dateolive.github.io">zrf</a></li>
    </ul>
</div> 

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>


<!-- Gitalk 评论 start  -->
{% if site.gitalk.enable %}
<!-- Gitalk link  -->
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk@latest/dist/gitalk.min.js"></script>

<div id="gitalk-container"></div>
    <script type="text/javascript">
    var gitalk = new Gitalk({
    clientID: '{{site.gitalk.clientID}}',
    clientSecret: '{{site.gitalk.clientSecret}}',
    repo: '{{site.gitalk.repo}}',
    owner: '{{site.gitalk.owner}}',
    admin: ['{{site.gitalk.admin}}'],
    distractionFreeMode: {{site.gitalk.distractionFreeMode}},
    id: 'about',
    });
    gitalk.render('gitalk-container');
</script>
{% endif %}
<!-- Gitalk end -->

 <!-- disqus 评论框 start  -->
{% if site.disqus.enable %}

<div class="comment">
    <div id="disqus_thread" class="disqus-thread">
    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus.username}}";
    var disqus_identifier = "{{site.disqus.username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

